{% extends 'accounting_app/base.html' %}

{% block content %}
<h1 class="h2">Generate Balance Sheet</h1>

<form method="post" class="row g-3 align-items-end mb-4">
    {% csrf_token %}
    <div class="col-auto">
        <label for="id_end_date" class="form-label">Balance as of date:</label>
        {{ form.end_date }}
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Generate</button>
    </div>
</form>

{% if balance_sheet_data %}
<h3 class="text-center">BILANS</h3>
<p class="text-center">sporządzony na dzień: {{ end_date_str }}</p>

<div class="row mt-4">
    <!-- AKTYWA -->
    <div class="col-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">AKTYWA</th>
                    <th class="text-center">Stan na</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="fw-bold">A</td>
                    <td class="fw-bold">Aktywa trwałe</td>
                    <td class="text-end fw-bold">{{ balance_sheet_data.A.total|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>I</td>
                    <td>Urządzenia techniczne i maszyny</td>
                    <td class="text-end">{{ balance_sheet_data.A.I|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>II</td>
                    <td>Środki transportu</td>
                    <td class="text-end">{{ balance_sheet_data.A.II|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>III</td>
                    <td>Umorzenie urządzeń technicznych i maszyn</td>
                    <td class="text-end">{{ balance_sheet_data.A.III|floatformat:2 }}</td>
                </tr>
                 <tr>
                    <td>IV</td>
                    <td>Umorzenie środków transportu</td>
                    <td class="text-end">{{ balance_sheet_data.A.IV|floatformat:2 }}</td>
                </tr>
                 <tr>
                <tr>
                    <td class="fw-bold">B</td>
                    <td class="fw-bold">Aktywa obrotowe</td>
                    <td class="text-end fw-bold">{{ balance_sheet_data.B.total|floatformat:2 }}</td>
                </tr>

                <tr>
                    <td>I</td>
                    <td>Należności z tytułu dostaw i usług od pozostałych jednostek do 12 m-cy</td>
                    <td class="text-end">{{ balance_sheet_data.B.I|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>I</td>
                    <td>Środki pieniężne w kasie</td>
                    <td class="text-end">{{ balance_sheet_data.B.II|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>III</td>
                    <td>Środki pieniężne na r-kach bankowych</td>
                    <td class="text-end">{{ balance_sheet_data.B.III|floatformat:2 }}</td>
                </tr>

                 <tr class="table-group-divider">
                    <td colspan="2" class="fw-bold text-center">AKTYWA RAZEM</td>
                    <td class="text-end fw-bold">{{ balance_sheet_data.total_assets|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- PASYWA -->
    <div class="col-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">PASYWA</th>
                    <th class="text-center">Stan na</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="fw-bold">A</td>
                    <td class="fw-bold">Kapitał własny</td>
                    <td class="text-end fw-bold">{{ balance_sheet_data.P_A.total|floatformat:2 }}</td>
                </tr>
                 <tr>
                    <td>I</td>
                    <td>Kapitał (fundusz) podstawowy</td>
                    <td class="text-end">{{ balance_sheet_data.P_A.I|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>VI</td>
                    <td>Zysk (strata) netto</td>
                    <td class="text-end">{{ balance_sheet_data.P_A.II|floatformat:2 }}</td>
                </tr>               
                <tr>
                    <td class="fw-bold">B</td>
                    <td class="fw-bold">Zobowiązania i rezerwy na zobowiązania</td>
                    <td class="text-end fw-bold">{{ balance_sheet_data.P_B.total|floatformat:2 }}</td>
                </tr> 
                {% comment %} <tr>
                    <td>III</td>
                    <td>Zobowiązania krótkoterminowe</td>
                    <td class="text-end">{{ balance_sheet_data.P_B.total|floatformat:2 }}</td>
                </tr> {% endcomment %}
                <tr>
                    <td>2.A)</td>
                    <td>Zobowiązania z tytułu dostaw i usług wobec pozostałych jednostek do 12 m-cy</td>
                    <td class="text-end">{{ balance_sheet_data.P_B.I|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>3.A)</td>
                    <td>Kredyty bankowe krótkoterminowe</td>
                    <td class="text-end">{{ balance_sheet_data.P_B.II|floatformat:2 }}</td>

                <tr>
                    <td>3.G)</td>
                    <td>Zobowiązania z tytułu publicznoprawnych</td>
                    <td class="text-end">{{ balance_sheet_data.P_B.III|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>IV</td>
                    <td>Zobowiązania z tytułu wynagrodzeń</td>
                    <td class="text-end">{{ balance_sheet_data.P_B.IV|floatformat:2 }}</td>
                </tr>
                <tr class="table-group-divider">
                    <td colspan="2" class="fw-bold text-center">PASYWA RAZEM</td>
                    <td class="text-end fw-bold">{{ balance_sheet_data.total_liabilities_and_equity|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<form method="post" class="mt-4">
    {% csrf_token %}
    <input type="hidden" name="end_date" value="{{ form.end_date.value|default:'' }}">
    <button type="submit" name="download_pdf" value="true" class="btn btn-success">
        Pobierz PDF
    </button>
</form>
{% endif %}
{% endblock %}