<div class="modal fade" id="addTransactionModal" tabindex="-1" aria-labelledby="addTransactionModalLabel" aria-hidden="true" data-balance-url="{% url 'get_account_balance' %}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addTransactionModalLabel">Add New Transaction</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addTransactionForm" action="{% url 'add_transaction' %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="{{ transaction_form.debit_account.id_for_label }}" class="col-sm-3 col-form-label">Debit Account (Wn):</label>
            <div class="col-sm-9">
              {{ transaction_form.debit_account }}
              <div id="debitAccountFunds" class="form-text mt-1"></div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="{{ transaction_form.credit_account.id_for_label }}" class="col-sm-3 col-form-label">Credit Account (Ma):</label>
            <div class="col-sm-9">
              {{ transaction_form.credit_account }}
            </div>
          </div>
          <div class="mb-3 row">
            <label for="{{ transaction_form.amount.id_for_label }}" class="col-sm-3 col-form-label">Amount:</label>
            <div class="col-sm-9">
              {{ transaction_form.amount }}
            </div>
          </div>
          <div class="mb-3 row">
            <label for="{{ transaction_form.date.id_for_label }}" class="col-sm-3 col-form-label">Date:</label>
            <div class="col-sm-9">
              {{ transaction_form.date }}
            </div>
          </div>
          <div class="mb-3 row">
            <label for="{{ transaction_form.description.id_for_label }}" class="col-sm-3 col-form-label">Description:</label>
            <div class="col-sm-9">
              {{ transaction_form.description }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save Transaction</button>
        </div>
      </form>
    </div>
  </div>
</div>